{% extends 'substitute/base.html' %}
<div></div>

{% block substitute-content %} {% for favorite in favorites %}
<div class="col-md-4 border rounded mt-5">
  <h3>
    {{favorite.name}}<button
      class="fav btn btn-primary"
      value="{{favorite.id}}"
    >
      <i class="fas fa-heart-broken"></i>
    </button>
  </h3>
  <div class="row border rounded">
    <div class="col-12">Nutriscore: {{favorite.product_nutriscore.name}}</div>
    <div class="col-12">Magasin: {{favorite.store}}</div>
  </div>
  <div class="row justify-content-center">
    <a href="{{favorite.url}}"
      ><img
        src="{{favorite.image_url}}"
        alt="{{favorite.name}}"
        style="width: 10rem"
    /></a>
  </div>
  <div></div>
</div>
{% endfor %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
  $(".fav").click(function () {
    event.preventDefault();

    alert("produit supprimé");
    let form = new FormData();

    form.append("fav", $(this).val());
    let csrfTokenValue = document.querySelector(
      "[name=csrfmiddlewaretoken]"
    ).value;
    let request = new Request("{% url 'substitute:rmv_fav' %}", {
      method: "POST",
      body: form,
      headers: { "X-CSRFToken": csrfTokenValue },
    });
    fetch(request)
      .then((response) => response.json())
      .then((result) => {
        let resultParagraph = document.querySelector("#operation");
        resultParagraph.innerHTML = result["operation_result"];
      });
  });

  document
    .querySelector("#fetch-call")
    .addEventListener("click", (event) => {});
</script>
{% endblock substitute-content %}
