{% extends 'substitute/base.html' %}{% load static %}
<div></div>
{% block substitute-content %} {% if not error %}
<div></div>

{% for substitute in substitutes%}
<div class="col-md-4 p-5 text-white font-weight-bold text-center">
  <div></div>

  <div class="row justify-content-center">
    <a href="{{substitute.url}}"
      ><img
        class="img-fluid rounded"
        src="{{substitute.image_url}}"
        alt="{{substitute.name}}"
        style="width: 10rem; height: 10rem"
    /></a>
  </div>

  <div>
    {{substitute.name}} {% if request.user.is_authenticated %}<button
      class="fav btn btn-primary"
      value="{{substitute.id}}"
    >
      <i class="fas fa-heart"></i>
    </button>

    {% endif %}
  </div>
  <div class="row justify-content-center">
    {% if substitute.product_nutriscore.name == "a" %}
    <img
      src="{% static 'assets/img/nutriscore-a.svg' %}"
      width="150"
      height="50"
    />
    {% elif substitute.product_nutriscore.name == "b" %}
    <img
      src="{% static 'assets/img/nutriscore-b.svg' %}"
      width="150"
      height="50"
    />
    {% elif substitute.product_nutriscore.name == "c" %}
    <img
      src="{% static 'assets/img/nutriscore-c.svg' %}"
      width="150"
      height="50"
    />
    {% elif substitute.product_nutriscore.name == "d" %}
    <img
      src="{% static 'assets/img/nutriscore-d.svg' %}"
      width="150"
      height="50"
    />
    {% elif substitute.product_nutriscore.name == "e" %}
    <img
      src="{% static 'assets/img/nutriscore-e.svg' %}"
      width="150"
      height="50"
    />
    {% endif %}
  </div>
  <div class="row-12 justify-content-center">Magasin: {{substitute.store}}</div>
</div>
{% endfor %} {% else %}
<p>{{error}}</p>

{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
  $(".fav").click(function () {
    event.preventDefault();

    alert("produit ajouté");
    let form = new FormData();

    form.append("fav", $(this).val());
    let csrfTokenValue = document.querySelector(
      "[name=csrfmiddlewaretoken]"
    ).value;
    let request = new Request("{% url 'substitute:add_fav' %}", {
      method: "POST",
      body: form,
      headers: { "X-CSRFToken": csrfTokenValue },
    });
    fetch(request)
      .then((response) => response.json())
      .then((result) => {
        let resultParagraph = document.querySelector("#operation");
        resultParagraph.innerHTML = result["operation_result"];
      });
  });

  document
    .querySelector("#fetch-call")
    .addEventListener("click", (event) => {});
</script>

{% endblock substitute-content %}
